.intro{
   font-size: 2rem!important;
}
main .intro, #seccion-vetas .intro{
    font-size: 2rem!important;
}
.desc, .desc strong{
    color: #a7a7a7;
    font-weight: 300;
    font-size: 2.5rem!important;

}
main .desc{
    font-size: 2.5rem!important;

}
