#portada-prd{
    background-image: url('fotos/guayubira-portada.html');
    background-image: radial-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.43)), url('../fotos/guayubira-portada.jpg');
	background-size: auto 120%;
    background-position: 50% 0%;   
    background-repeat: no-repeat;
}
#seccion-frase-2{
    background-image: url('../imgs/tesh-wallpaper.jpg');
    background-size: cover;
    background-position: center;
}