@font-face {font-family: Swistblnk Monthoers; src: url('../fonts/Monthoers.otf');}
@font-face {font-family: Vincent; src: url('../fonts/Vincent-Regular.otf');}
@font-face {font-family: Cormorant Infant; src: url('../fonts/CormorantInfant-Medium.ttf');}
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');*/
@font-face {font-family: Montserrat;
           src: url('../fonts/Montserrat-ThinItalic.ttf') format('ttf'),
                url('../fonts/Montserrat-Thin.ttf') format('ttf'),
                url('../fonts/Montserrat-SemiBoldItalic.ttf') format('ttf'),
                url('../fonts/Montserrat-SemiBold.ttf') format('ttf'),
                url('../fonts/Montserrat-Regular.ttf') format('ttf'),
                url('../fonts/Montserrat-MediumItalic.ttf') format('ttf'),
                url('../fonts/Montserrat-LightItalic.ttf') format('ttf'),
                url('../fonts/Montserrat-Light.ttf') format('ttf'),
                url('../fonts/Montserrat-Italic.ttf') format('ttf'),
                url('../fonts/Montserrat-ExtraLightItalic.ttf') format('ttf'),
                url('../fonts/Montserrat-ExtraLight.ttf') format('ttf'),
                url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('ttf'),
                url('../fonts/Montserrat-ExtraBold.ttf') format('ttf'),
                url('../fonts/Montserrat-Bold.ttf') format('ttf'),
                url('../fonts/Montserrat-BlackItalic.ttf') format('ttf'),
                url('../fonts/Montserrat-Black.ttf') format('ttf');
    
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*marron kakita #bc8c3e*/
::selection{ background: #bc8c3e; color: #f0f0f0 }
*{ margin: 0; padding: 0; }
a{ text-decoration: none; color: inherit; }
li{ list-style: none; }
body{ font-family: 'Montserrat'; overflow-x: hidden; }
h2{ font-family: 'Swistblnk Monthoers'; font-weight: lighter; }
h4{ font-family: 'Vincent'; font-weight: 400; }
button{ font-family: 'Montserrat'; }
.cont80x100{
	width: 90%;
	display: block;
	margin: auto;
}
/* envio gratis franja */
#envioGratarola{
  width: 100.2vw;
  top: -1px;
	position: fixed;
	z-index: 999;
	background-image: linear-gradient( to top left, #bc8c3e, #fcbf5d );
}
#envioGratarola>div{ position: relative; }
#envioGratarola p{
  padding: 0 0;
  text-align: center;
	font-size: 0.9em;
	font-weight: 600;
	color: white;
	display: block;
	margin: auto;
}
#envioGratarola span{
  position: absolute;
font-size: 1em;
	font-weight: 600;
	color: white;
	right: 0;
	top: -10%;
	cursor: pointer;
}

/* portada */
#portada-home{
	position: relative;
	min-height: 100vh;
	background: black;
	background-image: radial-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../imgs/portada-mate-mob.jpg');
	background-size: cover;
	background-position: center;
}
#portada-home>img{
	display: block;
	margin: auto;
	width: 20%;
	padding-top: 10%;
}
#portada-home h4{
	font-weight: 300;
	color: #bc8c3e;
	text-align: center;
	margin: 40% auto 15% auto;
	letter-spacing: 0.4vw;
	font-size: 1em;
	text-shadow: 1px 1px 1px #1d1d1d;
	opacity: 0;
	transform: translateY(150%);
	transition: .35s;
	font-family: 'Vincent';
}
#portada-home h2{
	font-family: 'Swistblnk Monthoers';	
	font-weight: 300;
	color: white;
	font-size: 3.2em;
	text-align: center;
	letter-spacing: -1.5vw;
	text-shadow: 1px 1px 2px #111111;
	transition: .35s;
	opacity: 0;
}
#portada-home nav{
	display: none;
}
nav>ul{
	margin-top: 18%;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav img{
	cursor: auto;
	user-select: none;
}
nav li{
	color: white;
	font-family: 'Vincent';
	margin: 0 2.5%;
	font-size: 1.2em;
	cursor: pointer;
	transition: all .45s;
	opacity: 0;
	text-shadow: 1px 1px #252525;
}

nav li:hover{
	/*color: #e1a748;*/
}

nav li:nth-child(3){ opacity: 1!important }
nav li:nth-child(1),nav li:nth-child(2){ transform: translateX(50%); }
nav li:nth-child(4),nav li:nth-child(5){ transform: translateX(-50%); }

nav li:nth-child(3):before{ display: none; }

nav a{ color: inherit; }

nav li:before{
	content: '';
    position: absolute;
    background-image: radial-gradient( #bc8c3e 50% , rgba(0,0,0,0) 70%);
    opacity: 0.6;
    display: block;
    width: 0%;
    height: 20%;
    bottom: 0;
    left: -10%;
    transition: .2s ease-in-out;
    transform-origin: 0% 50%;
    border-top: none;
    border-right: none;
    z-index: 2;
    transform: rotate(-9deg);
    outline: none;
}
nav li:hover:before{
    width: 120%;
}

#portada-home>div a{
    display: block;
    margin: auto;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	width: 20%;
}
#portada-home>div p{
	font-weight: 500;
	color: white;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 0.8em;
	color: #d1d1d1;
}

#portada-home>div img{
	width: 20px;
	animation: rebotin  2s ease-in-out 0s infinite forwards;
	display: block;
	margin: auto;
}
@keyframes rebotin{
    0% { transform: translateY(0%) }
    30% { transform: translateY(20%) }
    60% { transform: translateY(0%) }
    85% { transform: translateY(10%) }
    100% { transform: translateY(0%) }
}

/* los 4 relojes */
.titulo-prds-home h5{
	font-weight: 300;
	font-size: 1rem;
}
#relojes-home-cont{
	background-color: #fbf8f8;
  padding-top: 10vh;
	padding-bottom: 7vh;
  
}

#relojes-cont-prd-home a{
	width: 95%;
	margin-bottom: 10px;
    margin-right: 0;
}

.reloj-cont-prd-home{
  height: 23vh;
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  color: white;
  background-size: cover;
  margin-bottom: 10px;
  margin-right: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}
.titulo-prds-home{
	font-family: 'vincent';
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.7px;
}
.titulo-prds-home h5{
	font-weight: 300;
	font-size: 1rem;
}

.precio-prd-home{
	font-family: 'montserrat';
	font-weight: 600;
	font-size: 0.75em;
}
.nombre-prd-home{
	font-family: 'vincent';
	letter-spacing: 4px;
	font-size: 1em;
}
.btn-prd-home button{
	text-transform: uppercase;
	font-family: 'montserrat';
    padding: 8px 25px;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 0.7em;
    transform: scale(0.9);
	text-align: center!important;
	background: transparent;
	font-weight: 500;
	color: white;
}

.btn-prd-home button:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	border: 2px solid transparent;
}

.textos-prd-home div{
	margin-bottom: 10px;
}

.textos-prd-home{
	transition: all 0.2s;
	position: absolute;
  padding-right: 15px!important;
  padding-bottom: 0px!important;
  }

.prd-bg{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
}

#lenga:hover{
	transform: scale(1.05);
}

#guayubira:hover{
	transform: scale(1.05);
}

#cancharana:hover{
	transform: scale(1.05);
}

#moradillo:hover{
	transform: scale(1.05);
}

#relojes-cont-prd-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}


#lenga{
background-image: url('../imgs/lenga-mob.jpg');
}

#guayubira{
background-image: url('../imgs/guayubira-mob.jpg');
}

#moradillo{
background-image: url('../imgs/moradillo-mob.jpg');
}

#cancharana{
background-image: url('../imgs/cancharana-mob.jpg');
}


section{
	padding: 10% 0;
	padding-bottom: 3%;
	background: white;
	position: relative;
	transition: .25s;
}
section h4{
	margin: auto;
	text-align: center;
	letter-spacing: 0.4vw;
	font-size: 1.5em;
	margin-bottom: 15%;
}

#listaProceso>article{	margin: 10% 0;}
.fotoCont img{ transition: .25s;}
#listaProceso>article>div:first-child{ width: 112%; transition: .2s; margin-left:-6%; }
.descCont h5{
	letter-spacing: 6px;
	font-size: 1.85em;
	margin-bottom: 1.5%;
}
.descCont span:first-child{
	color: #7b7b7b;
	display: block;
	font-size: 0.8em;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	margin: 2% 0;
}

.descCont span{
	color: #bc8c3e;
	font-family: 'Vincent';
	font-size: 1.2em;
	letter-spacing: 2px;
}
.descCont p{
	font-size: 0.85em;
	color: #2f2f2f;
	margin-top: 1.5%;
	margin-bottom: 3%;
}
#procesoCont{background: #fbf8f8;}
#procesoCont:before{
	content: '';
	display: block;
	width: 7vh;
	height: 7vh;
	background-color: #fbf8f8;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateY(45%) translateX(-50%) rotate(40deg) skew(-12deg);
	z-index: 4;
}
#verMasProc{
	background-image: linear-gradient(rgba(0,0,0,0) 22% , #fbf8f8 77%);
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 25%;
    transition: all .25s;
 }

#verMasProc p{
	display: table;
	margin: auto;
	margin-top: 50%;
	text-align: center;
	font-size: 0.75em;
	cursor: pointer;
	position: relative;
	z-index: 99;
}
#verMasProc img{
	display: block;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
	position: relative;
	z-index: 99;
}

.todaviaNo{
	display: none!important;
}



 aside{
 	background: black;
 	padding: 20% 0;
	background: url('../imgs/franjaNace.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .25s;
	position: relative;
	z-index: 1;
}

 aside h4{
 	color: #bc8c3e;
	text-align: center;
	margin: auto;
	letter-spacing: 0.4vw;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #1d1d1d;
	opacity: 0;
	transform: translateY(150%);
	transition: .35s;
 }
 aside h2{
 	color: white;
	font-size: 4em;
	text-align: center;
	/*letter-spacing: 2.5vw;*/
	text-shadow: 1px 1px 2px #111111;
	margin: 8% 0;
	opacity: 0;
	letter-spacing: -1.5vw;
	transition: .35s;
 }
 aside p{
 	text-align: center;
 	width: 100%;
 	color: #e8e8e8;
 	margin: 5% 0 2.5% 0;
 	font-size: 0.9em;
	opacity: 0;
	transform: translateY(150%);
	transition: .35s;
	transition-delay: .2s;
 }
 #somosHidden{
 	display: none;
 	margin: 8% 0;
	opacity: 0;
 	position: absolute;
 	transition: .25s;
 	flex-direction: column;
 }
 #videito{
 	margin-bottom: 7%
 }
 #somosHidden p{
 	color: #f0f0f0;
 	font-size: 0.85em;
 	line-height: 1.2;
 	font-weight: lighter;
 }

#verSomos{
	position: absolute;
	left: 50%;
	bottom: 3%;
 	font-size: 0.75em;
 	width: 20%;
 	cursor: pointer;
 	opacity: 0;
 	transform: translateY(150%) translateX(-50%);
	transition: .35s;
 }
 #verSomos img{
  	display: block;
  	margin: auto;
  	margin-top: 5px;
  	transition: .25s;
}


#shopNow{
  	background-image: radial-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../relojes/imgs/fondo-shop.jpg');
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	padding-top: 10%;
  	padding-bottom: 10%;
  	position: relative;
  	width: 112%;
	left: -6%;
	margin-bottom: 8%;
	/*border-radius: 10px;*/
}
#shopNow img{display: none;}
#shopNow h2{
  	color: white;
	font-size: 2em;
	text-align: center;
	text-shadow: 1px 1px 2px #111111;
	letter-spacing: 1px;
	z-index: 99;
	position: relative;
	margin-bottom: 5%
}
#shopNow h6{
	display: table;
	margin: auto!important;
	margin-top: 1%;
	color: #bc8c3e;
	font-size: 1.8em;
	text-shadow: 2px 2px 2px #111111;
	text-align: center;
	font-weight: 400;
	font-family: 'Swistblnk Monthoers';
	transition: all .2s;
	cursor: pointer;
	position: relative;

}
#shopNow h6:before{
	content: '-';
	position: absolute;
	font-weight: 600;
	left: -15px;
	transition: all .16s;
	transition-timing-function: ease-in-out;
	/*opacity: 0*/
}
#shopNow h6:after{
	content: '-';
	position: absolute;
	font-weight: 600;
	right: -15px;
	transition: all .16s;
	transition-timing-function: ease-in-out;
	/*opacity: 0*/
}
#shopNow h6:hover:before, #persoYcorpo>div>h6:hover:before{
	left: -30px;
}
#shopNow h6:hover:after, #persoYcorpo>div>h6:hover:after{
	right: -30px;
}
#persoYcorpo a{ color: #bc8c3e; }
#galeria1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1.5%;
}
#galeria1>div{
	background-color: #ddd;
	background-position: center!important;
	background-size:cover;
	height: 300px;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 1.5%;	
	margin-bottom: 1.5%;
	position: relative;
	border-radius: 10px;
}

#foto1:before{
	content: '<';
	display: none;
}
#foto1:after{
	content: '>';
	right: 0;
	display: none;
}
#foto1:after, #foto1:before{
	font-size: 3.5em;
	position: absolute;
	top: 40%;
	opacity: 0.6;
}
/*#foto2,#foto3,#foto4{ display: none; }*/

#foto1{background-image: url('../imgs/reforestando-relojes-lengas-gal1.1.jpg'); }
#foto2{background-image: url('../en/imgs/lengas-home-gallery-2.jpg');	background-position: center!important;  }
#foto3{background-image: url('../imgs/relojes-madera-gal3.1.jpg'); }
#foto4{background-image: url('../en/imgs/lengas-home-gallery-3.jpg'); }



#persoYcorpo>div{
	margin: 5% 0;
	width: 100%;
	padding-top: 50%;
	padding-bottom: 10%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all .35s;
	transform: scale(0);
	border-radius: 10px;
}
#persoYcorpo>div:hover{
	background-size: 120%;
}

#persoYcorpo h2{
	color: white;
	font-size: 2em;
	text-align: center;
	text-shadow: 1px 1px 2px #111111;
	letter-spacing: 1px;

}
#persoYcorpo h6:after,#persoYcorpo h6:before{
	content: '-';
	position: absolute;
	font-weight: 600;
	transition: all .16s;
	transition-timing-function: ease-in-out;
}

#persoYcorpo h6:after{
	right: -15px;
}

#persoYcorpo h6:before{
	left: -15px;
}

#persoYcorpo h6{
	display: table;
	margin: auto;
	margin-top: 1%;
	color: #bc8c3e;
	font-size: 1.8em;
	text-shadow: 2px 2px 2px #111111;
	text-align: center;
	font-weight: 400;
	font-family: 'Swistblnk Monthoers';
	transition: all .2s;
	cursor: pointer;
	position: relative;
}
#personalizado{ background-image: url('../imgs/personalizado.jpg'); }
#corporativo{ background-image: url('../imgs/corporativo.jpg'); }


footer{
	background-image: url('../imgs/franja4Tips.jpg');
	background-size: cover;
	background-position: 60% 50%;
	background-repeat: no-repeat;
	padding: 10% 0;
	z-index: 99;
	position: relative;
}
#franjaTips{
/*	display: flex;
	justify-content: space-between;*/
}
#franjaTips>div{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 80%;
	margin: 10% auto;
}
#franjaTips img{
	margin-right: 10%;
	display: block;
}
#franjaTips p{
	margin-left: 5%;
	font-family: 'Vincent';
	color: #cecece;
}

.todaviaNo{
	display: none!important;

}

#envioGratarola{
	width: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
    background-image: linear-gradient( to top left, #bc8c3e, #fcbf5d );
    padding: 3px 0;
    font-size: 0.6em;
    text-align: center;
    font-weight: bold;
    color: white;
}

#envioGratarola div{
	display: flex!important;
	justify-content: space-between;
}