/* Estilos Generales */
@font-face {font-family: Swistblnk Monthoers; src: url(../../fonts/Monthoers.otf);}
@font-face {font-family: Vincent; src: url(../../fonts/Vincent-Regular.otf);}
/*@font-face {font-family: Cormorant Infant; src: url(/fonts/CormorantInfant-Light.ttf);}*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');*/
@font-face {font-family: Montserrat;
           src: url('../../fonts/Montserrat-ThinItalic.ttf') format('ttf'),
                url('../../fonts/Montserrat-Thin.ttf') format('ttf'),
                url('../../fonts/Montserrat-SemiBoldItalic.ttf') format('ttf'),
                url('../../fonts/Montserrat-SemiBold.ttf') format('ttf'),
                url('../../fonts/Montserrat-Regular.ttf') format('ttf'),
                url('../../fonts/Montserrat-MediumItalic.ttf') format('ttf'),
                url('../../fonts/Montserrat-LightItalic.ttf') format('ttf'),
                url('../../fonts/Montserrat-Light.ttf') format('ttf'),
                url('../../fonts/Montserrat-Italic.ttf') format('ttf'),
                url('../../fonts/Montserrat-ExtraLightItalic.ttf') format('ttf'),
                url('../../fonts/Montserrat-ExtraLight.ttf') format('ttf'),
                url('../../fonts/Montserrat-ExtraBoldItalic.ttf') format('ttf'),
                url('../../fonts/Montserrat-ExtraBold.ttf') format('ttf'),
                url('../../fonts/Montserrat-Bold.ttf') format('ttf'),
                url('../../fonts/Montserrat-BlackItalic.ttf') format('ttf'),
                url('../../fonts/Montserrat-Black.ttf') format('ttf');
    
}


/*marron kakita #bc8c3e*/
::selection{ background: #bc8c3e; color: #f0f0f0 }
*{ margin: 0; padding: 0; }
a,a:link,a:visited,a:hover,a:focus,a:active{
    color: inherit;
    text-decoration: none;
}
li{ list-style: none; }
body{ font-family: 'Montserrat'; overflow-x: hidden; }
/* h2{ font-family: 'Swistblnk Monthoers'; font-weight: lighter; color: white }
h4{ font-family: 'Vincent'; font-weight: 400; } */
button{ font-family: 'Montserrat'; }
button:focus{outline: none;}

.width-90{
    width: 90%;
    margin: auto;
    display: block;
}
/*boton sticky*/
#sticky-comprar{
        position: fixed;
    left: 50%;
    transform:  translateX(-50%) translateY(30%);
        opacity: 0;
        transition: .2s ease-out;
    bottom: 4vh;
    z-index: 120;
    display: none;
    }
    #sticky-comprar p{
        color: black;
        width: 70vw;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    padding: 10px 18px;
    background-color: rgba(255,255,255,0.35);
    border-radius: 55px;
    margin-bottom: 1vh;
    }
    #btn-sticky{
        background-color: #bc8c3e;
    color: white;
    padding: 26px 88px;
    border-radius: 50px;
    border: 2px #bc8c3e solid;
    font-weight: 700;
    cursor: pointer;
    font-size: 2rem;
    display: block;
    margin: auto;
    }
    #btn-sticky:hover{
        background-color: transparent;
        color: #bc8c3e;
    }
    
    #ultimos{
    background-color: transparent!important;
    color: red!important;
    font-weight: bold!important;
    }
    
/* <!-- Portada, primeros 100vh --> */
#portada-prd{
    background-repeat: no-repeat;
    padding-bottom: 4vh;
    height: 96vh;
    
}
#portada-prd nav{
    padding: 1.88% 0;
}
#portada-prd nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Vincent';
    
}
nav li{
    color: white;
    font-size: 2.25rem;
    min-height: 10vh
}
nav li:nth-child(1), nav li:nth-child(2), nav li:nth-child(5), nav li:nth-child(4){ display:none;}
nav img{
    width: 185px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    
}


#portada-prd>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#nombre-modelo{
    /* max-width: 17%; */
    display: block;
    margin: auto;
    /* background: rebeccapurple; */
    margin-top: 5%;
}
#nombre-modelo h1{
    font-family: 'Swistblnk Monthoers';
    font-weight: 400;
    filter: invert(1);
    font-size: 9rem;
    letter-spacing: 2vw;
    text-align: center;
    transform: translateX(3%);
    position: relative;
    transition-duration: .5s;
    transition-delay: .3s;
    font-size: 15rem;
    transition-timing-function: cubic-bezier(.19,.48,.09,1);
}
#nombre-modelo h5{
    color: #bc8c3e;
    font-family: 'Cormorant Infant';
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    padding-top: 2%;
    transition-duration: .5s;
    transition-delay: .5s;
    transition-timing-function: cubic-bezier(.19,.48,.09,1);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
#nombre-modelo h1{
    transform: translate(3%, 40%);
    opacity: 0;
}
#nombre-modelo h5{
    opacity: 0;
    transform: translateY(40%);
}

#comprar-info{
    margin-top: 37vh;
}
#comprar-info p{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px #252525;
    opacity: 0;
    transition: .2s cubic-bezier(.19,.48,.09,1) .4s;
}
#comprar-info span{
    color: #bc8c3e;
}
#comprar-info hr{
    display: none;
}
#comprar-info button{
    color: white;
    margin: auto;
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5%;
    padding: 2.5% 10%;
    border-radius: 55px;
    background: transparent;
    border: 4px #bc8c3e solid;
    opacity: 0;
    transition: .2s cubic-bezier(.19,.48,.09,1) .55s;
}

#portada-prd>div a{
    width: 7%;
    display: block;
    margin: auto;
    margin-top: 6vh;
    cursor: pointer;
}
#portada-prd>div img{
    width: 100%;
}
/* estilo general para todos los textos de los tucu tucu */
.intro{
    font-weight: 700;
    color: #bc8c3e;
   font-size: 0.9rem;

}
.titulo{
    font-family: 'Cormorant Infant';
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 3%;
}
.desc, .desc strong{
    color: #a7a7a7;
    font-weight: 300;
    font-size: 1.5rem;

}


/* Primera seccion, intro del reloj con la animacion de ensamble */
main{
    padding: 7vh 0;
    min-height: 86vh;
}
main .tucu{
    display: flex;
    flex-direction: column-reverse;
}
/* tramoya para que en el main mantengan el mismo tamaño de font */
main .intro, #seccion-vetas .intro{
    font-size: 1rem!important;
}
main .desc{
    font-size: 1.96rem!important;

}


/* listo tramoya */
main .tucu>div{
    height: 60vh;
    padding-top: 10vh;
    padding-top: 7vh;

}
main .tucu{
    position: relative;
}
#ensamble-fotos{
    position: relative;
    height: 100%;
}
#ensamble-fotos>img{
    width: 70%;
    position: absolute;
    top: 15%;
    transition: transform  1.3s cubic-bezier(.19,.48,.09,1) .2s, opacity  .2s ease-out;
}

#materiales>p{
    display: none;
}
main .tucu>p{
    text-align: right;
}
#materiales>div{
    position: absolute;
    right: 3.5%;
    top: 45%;
}
#materiales>div>div{
    width: 100px;
    height: 100px;
    margin-bottom: 10vh;
    transition: .2s;
    position: relative;
}
#materiales img ~ p{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    color: #313131;
    transform: translateX(-50%);
    opacity: 0;
    transition: .2s;
}
#materiales img:hover ~ p{
    opacity: 1;
}
#materiales>div>div:hover{
    transform: scale(1.05);

}
#materiales img{
    width: 100%;
}
/* <!-- Franja primera frase --> */
aside{
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#seccion-frase-1{
    background-image: url('../imgs/fondo-taller-reloj.jpg');
    background-image: radial-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imgs/fondo-taller-reloj.jpg');
    background-position: 67% 0;
}
#seccion-frase-1 h5{
    text-align: center;
    font-size: 6.5rem;
    font-family: 'Swistblnk Monthoers';
    font-weight: 300;
    filter: invert(1);
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 40%;
}

/* <!-- empiezan los tucu --> */
#seccion-cuadrante{
    padding-top: 7vh;
}
#seccion-cuadrante>div>div{
    overflow: hidden;
    /*min-height: 70vh;*/

}
#seccion-cuadrante img{
    margin-top: 10%;
    margin-left: -30%;
    margin-bottom: -30%;
    transition: .2s;
    transform-origin: 50% 0;
}

/* tucu del JPG, cada pieza es unica */
#seccion-vetas{
    background-color: #f0f0f0;
    padding-top: 7vh;

}
#seccion-vetas>div{
    display: flex;
    flex-direction: column-reverse;
}
#seccion-vetas>div>div{
    width: 100%;
    height: 65vh;
    margin: 6% 0;
    overflow: hidden;
    position: relative;
}
#seccion-vetas img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

/* pieza ultra ligera/ */
#seccion-ligero{
    padding-top: 7vh;
    background-color: #fafafa;
}
#seccion-ligero>div{
    position: relative;

}
#seccion-ligero>div>div{
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: block;
}
#seccion-ligero img{
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translateX(50%) rotate(-33deg);
}
/* seccion taller con video */
#fondo-taller{
    height: 75vh;
    position: relative;
    overflow: hidden;
}
#botones-proceso{ display: none;}
#fondo-taller video{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    z-index: 1;
    filter: brightness(0.85)
}
#fondo-taller>div{
    z-index: 3;
    position: absolute;
    bottom: 0;
    z-index: 10;;
    padding-bottom: 10%;
    width:100%
}
#pasos-proceso{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin:auto;
}
#pasos-proceso>div{
    width: 30%;
    position: relative;
}
#paso-1:after, #paso-2:after, #paso-3:after{
    position: absolute;
    color: white;
    font-size: 6em;
    opacity: 0.2;
    top: -50%;
    left: 0%;
    font-weight: 600;
}
#paso-1:after{ content:".01"; }
#paso-2:after{ content:".02"; }
#paso-3:after{ content:".03"; }

#pasos-proceso hr{
    transform: rotate(180deg);
    width: 3px;
    background: white;
    border: none;
}
#pasos-proceso h6{
    color: white;
    font-size: 2.2rem;
    margin-bottom: 2%;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-align: center;
}
#pasos-proceso span{
    font-weight: 300;
    color: white;
    font-size: 2rem;
    display: block;
    text-align: center;
}
#pasos-proceso p{ display: none; }

#seccion-taller header{
    padding-top: 6.5%;
    position: relative;
    padding-bottom: 20%;
}
#botones-proceso{
    position: absolute;
    bottom:7%;
}

#botones-proceso{
    display: none;
    align-items: center;
    width: 75%;
    justify-content: space-between;
}
#proceso-btn{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
#proceso-btn button{
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: block;
    margin-right: 20%;

}
#proceso-btn img{
    /* transform: translateY(32%); */
    width: 40px;
    margin-right: 20px;
    padding: 20px;
    border: 3px black solid;
    border-radius: 50px;
    margin: auto;
    display: inline-block;
    margin-right: 5%;
   
}
#video-btn{
    font-size: 2rem;
    font-weight: 700;
    background: none;
    border: 4px black solid;
    border-radius: 50px;
    /* margin: 0 25px; */
    cursor: pointer;
    padding: 3% 10%;

}

/* seccion de la segunda frase flashera */
#seccion-frase-2>div{
    width: 80%;
    margin: auto;
}
#seccion-frase-2 #nombre-mod{
    font-size: 5em;
    font-family: 'Swistblnk Monthoers';
    font-weight: 300;
    filter: invert(1);
    display: block;
    padding-top: 42%;
    transition: transform .3s ease-out;
}
#seccion-frase-2 #etimologia{
    color: white;
    margin: 20px 0;
    color: #bc8c3e;
    font-family: 'Cormorant infant';
    font-size: 3.5rem;
    font-weight: 600;
    /* max-width: 50%; */
    font-style: italic;
    display: inline-block;
    transition: transform .3s ease-out;
    padding-right: 10px;
    position: relative;
    
}
#ona{ cursor: pointer; }
/* #content:hover~#b */
#ona:hover~#ona-def{
    display: block;
}
#ona-def{
    top: 250%;
    left: 0%;
    position: absolute;
    /* display: none; */
    font-family: 'Montserrat';
    color: #f0f0f0;
    font-weight: 300;
    font-size:1.7rem;
    color: #a7a7a7;
    display: none;
}
#seccion-frase-2 #asociacion{
    color: #f0f0f0;
    font-weight: 300;
    /* width: 50%; */
    font-size: 1.7rem;
    transition: transform .3s ease-out;

}

/*Solo para el mahai*/
#especial{
    text-transform: uppercase;
    color: #f0f0f0;
    font-weight: bold;
    margin: 20px 0;
    font-size: 1.6em;
    border: 2px solid #f0f0f0;
    width: fit-content;
    padding: 12px 33px;
    border-radius: 35px;
    transition: opacity 0.4s;
}

#especial:hover{
    background-color: white;
    color: black;
}

#justificacion{
    color: #f0f0f0;
    font-size: 1.6em;
    width: 100%;
    transition: opacity 0.6s;
    display: none;
    border-left: 2px solid rgb(240, 240, 240);
    padding-left: 10px;
}

/* seccion de la tapita de alumnio */
#seccion-tapita{
    padding: 7vh 0;
    background-color: #fafafa;
}
#seccion-tapita .tucu{
    display: flex;
    flex-direction: column-reverse;
}
#seccion-tapita .tucu>div{
    display: block;
    /* height: 65vh; */
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 10%;
}
#seccion-tapita img{
    /* width: 140%;
    bottom: -25%; */
    margin-left: -50%; 
    /* position: absolute; */
}
/* seccion correas  */
#seccion-correas{
    padding: 7vh 0;
}

#correas-info>div{
   padding: 10% 0;
   position: relative;
}
#correas-foto{
    width: 90%;
    margin-left: 10%;
    z-index: 3;
    position: relative;
}
#remache-foto{
    position: absolute;
    width: 35%;
    z-index: 1;
    top: 5%;
    left: 2%;
}
#corras-instr{
    padding-top: 10%;
    position: relative;
    height: 30vh;
    overflow: hidden;
    display:none;
}
#corras-instr img{
    position: absolute;
    left: -30%;
}


/* CARACTERUSTUCAS */
#seccion-caracteristicas{
    padding: 7vh 0;
    background: black;
    color: white;
}
#sketch{
    position: relative;
    width: 100%;
    /* height: 55vh; */
    /* overflow: hidden; */
    
}
#sketch>div{
    font-family: 'Montserrat';
    /* width: 107%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}
#specs h5{
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    margin: 15% 0;
}

#specs>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#specs>div>div{
    width: 40%;
    margin-bottom: 5%;
}
#specs>div>div:after{
    content:"___";
    color: white;
    display: block;
    font-size: 2rem;

}
#specs div p{
    font-weight: 600;
    font-size: 1.5rem;
}
#specs div span{
    font-weight: 300;
    font-size: 2rem;
    
}
.no-after:after{
    content:""!important;
}
#specs>span{
    margin-top: 12%;
    display: inline-block;
    color: black;
    background-color: white;
    padding: 2% 0%;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
    min-width: 50%;

}
#specs>span img{
    height: 1.75rem;
    margin-right: 5%;
}

/* seccion finalizar la compra */
#finalizar-compra{
    padding: 7vh 0;
    background-image: radial-gradient(#fafafa,#f0f0f0);
}
#finalizar-compra>div{
    display: flex;
    flex-direction: column-reverse;
}
#png-final{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 55vh;
}

#png-final img{
    position: absolute;
    left: -30%;
    height: 100%!important;
}
#info-precio{
    text-align: center;
}
#info-precio h2{
    font-family: 'Swistblnk Monthoers';
    font-size: 10rem;
    font-weight: 300;
}
#info-precio span{
    font-weight: 600;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 7%;
    font-size: 2.25rem;
}
#info-precio span:nth-child(3){
    color: #bc8c3e;
}

.precio-descuento{
    background-color: #bc8c3e;
    color: white;
    padding: 6px 15px;
    border-radius: 10px;
    margin-left: 10px;
}

#info-precio p{
    width: 45%;
    margin: auto;
    font-size: 2.25rem;
}

#info-precio button{
    margin-bottom: 7vh;
    color: white;
    margin: auto;
    display: block;
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 9%;
    padding: 2% 7%;
    border-radius: 55px;
    background: #bc8c3e;
    border: 4px #bc8c3e solid;
    visibility: hidden;
}

/*modal check out*/

#fondoModal>div{
    left: 0!important;
    width: 90%!important;
}
#fondoModal h4{
    font-size: 2.2rem!important;
    font-weight: 300!important;
}
#fondoModal h2{
    font-size: 2.5rem!important;
    font-weight: 300!important;
    
}
.inputes{
    padding: 10px 3%!important;
    margin: 1.5% 0.5%!important;
    font-size: 2.2em!important;
}
#infoRedirec, #fondoModal b{
    padding: 10px!important;
    font-size: 1.5rem!important;
}

#enviarCorpo {
    padding: 15px 30px!important;
    border: 4px solid #bc8c3e!important;
    font-size: 1.7rem;
    
}

#hechopor{
    width: 100%!important;
    position: absolute!important;
    height: 45px!important;
    background-color: #fcbf5d!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}

#hechopor span{
    font-weight: bold!important;
    font-family: montserrat!important;
    font-size: 1.45em!important;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
}


/* /* Por las dudas para que no la quede nunca */
/* @media screen and (min-width: 560px) {
    #nombre-modelo {
        margin-top: 3%;
    }
    #comprar-info {
        margin-top: 28vh;
    }
    #portada-prd>div img{ display: none}
    main .tucu>div {
        height: 95vh;
    }
    aside h5, aside p {
        padding-top: 20%;
    }
    #video-btn {
        font-size: 1.5rem;
        padding: 2% 9%;
    }
    #proceso-btn button {
        font-size: 1.5rem;
    }
    #proceso-btn img {
        width: 20px;
        padding: 10px;
    }
    #botones-proceso{
        width: 55%;
    }
    #corras-instr {
        height: 45vh;
    }
}   


/*CSS PARA CTA NAVIDAD*/
    #despachamos{
        text-transform: uppercase;
    }
    .i-nav{
        background-color: #bf1b1b;
    color: white;
    padding: 4px 10px 6px 11px;
    border-radius: 33px;
    font-size: 1.4em;
    text-align: center;
    transform: translate(445px, 37px) scale(0.7);
    width: 50px;
    height: 50px;
    padding-top: 20px;
    font-family: montserrat;
    font-weight: bold;
    text-transform: lowercase!important;
    cursor: pointer;
    display: block;
    }
    
    .regalito{
        height: 25px;
        width: 25px;
    }

    .nav-msg{
        font-family: montserrat;
    letter-spacing: 0;
    font-size: 2.5em;
    width: 472px;
    text-align: left;
    position: absolute;
    text-transform: none;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px;
    transform: translate(0px, -578px);
    padding: 20px;
    z-index: 3;
    display: none;
    transition: opacity 0.2s;
}
